* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
/* header start */
.logo img{
    width: 139px;
    height: 60px;
    
}
.btn{
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
}
.btn:hover{
    color: white;
    background-color: #ffc60b;
}
nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1600px;
    height: 92px;
    margin: 0 auto;
    padding: 16px 120px;

}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  line-height: 152%;

}
.menu li{
    gap: 32px;
}
/* header end */
/* hero-banner start */
#hero{  
     background-image:
    url('/images/hero-bg.png');
  
   background-repeat: no-repeat;
   display: flex; 
       
     min-height: 80vh;  
     
   position: center ; 
   background-size: cover;
   margin: 0 auto;
    justify-content: center;
    background-position: center;
  
   
} 
    
.hero-content{
    width: 1360px;
    height: 296px; 
    margin: 0 auto; 
    text-align: center;
    gap: 16px;
    padding-top: 107px;
    
}

.hero-text{
    padding: 8px 16px;
    color: #30B868;
   margin: 0 auto;
  font-size: 16px;
   font-weight: 500;
   background-color: white;
  display: inline-flex;
  align-items: center;
  border-radius: 50px;
 
 

}
.hero-text img{
    width: 30px;
    height: 30px;
    
}

.hero-content h1{
    padding-top: 16px;
    width: 770px;
   height: 168; 
   margin: 0 auto;
  font-size: 68px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: white;

}
.hero-content p{
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
   max-width: 720px;
    /* height: 60px; */
    color: white;
    margin: 0 auto;
     text-align: center; 
    padding: 16px;

}
.btn-btn{
    margin-top: 32px;
    padding: 16px;
    background-color: #30B868;
    color: white;
    text-transform: capitalize;
    border: none;
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    gap: 8px;
    border-radius: 10px;
    cursor: pointer;
}  
   /* hover task  */
  .btn-btn:hover{
    color: white;
    background-color: #ffc60b;
   
  }
.btn-btn img{
    width: 20px;
    height: 20px;
}

.btn-btn-btn{
    margin-left: 16px;
    margin-top: 32px;
    padding: 16px;
    background-color:  transparent;
    color: white;
    text-transform: capitalize;
    border: none;
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;

} 
/* button hover task */
.btn-btn-btn:hover{
    color: white;
    background-color: #ffc60b;
    cursor: pointer;
}
 .knowledge {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    /* text-align: center; */
    padding-top : 70px

}
/* hero part end */
.knowledge h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
    text-align: center; 
}
.knowledge p {
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
    text-align: center;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.card {
    width: 322px;
    height: 300px;
    background-color: #ffffff;
    padding: 60px 20px;
    box-shadow: 0 10px 30px  rgba(0,0,0,0.06);
    border-radius: 8px;
    z-index: -1;
}
.img-container {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container img {
    width: 32px;
    height: 32px;
    margin: 0 auto;
}
.card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-top: 16px;
    text-align: center;
}
.card p {
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
    text-align: center;
}
/* main task */

/* task part start */
#solution{
  
  justify-content: center;
  display: flex;
 margin: 0 auto;
 
   
}
.solution-container{
  width: 85%;                                      
  min-width: 1360px;
  display: flex;
 margin: 0 auto;
  justify-content: space-between; 
  background-color: #ffffff;;
  border-radius: 10px;
 
 padding: 0 120px 120px 120px;
  
}

.solution-container-one{
width: 85%;
min-width: 569px;


padding-bottom: 84.3px;
padding-left: 232px;

}
.img{
  
  width: 569px;
  height: 723px;
} 
.small-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding-top: 120px;
    color: #30B868;
    text-transform: uppercase;
}
.text{
    padding-top: 16px;
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
    width: 700px;
    height: 116px;
    
}
  
.para-one{
  width: 760px;
  height: 60px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 40px;
  padding-top: 30px;
  text-align: left;
  color: #627382;
  
  

}
.font-love{
  
  padding-top: 40px;
  width: 700px;
  height: 20px;
  gap: 6px;
}
.font-p{
padding-top: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  gap: 6px;
  color: #001931;
  display: flex;
  align-items: flex-start; 

}
.font-p img{
 width: 20px;
 height: 20px;
 margin-right: 6px;
}
#call{
    padding-bottom: 120px;
    justify-content: center;
    text-align: center;
}
.call-container{
 
 width: 85%;
 max-width: 1360px;
 background-color: #F7F6F2;
 border: 10px;
 margin: 0 auto;
 
}

.call-container-one{
    padding: 80px 40px ;
}
.call-container-one h2{
    color: #001931;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding-bottom: 16px;
}
.call-container-one p{
    width: 1280px;
    height: 48px;
    line-height: 24px;
    text-align: center;
    color: #627382;
    padding-bottom: 10px;
}
.call-para{
     line-height: 24px;
    text-align: center;
    color: #627382;
    padding-top: 16px;
}
/* task part end */
/* footer start */

footer {
    background-color: #001931;
}
.footer-content {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    width: 139px;
    height: 60px;
    margin-left: -100px;
}
.social-container h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500px;
    color: #ffffff;
    margin-bottom: 16px;
}
.fa-brands {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding-top: 3px;
    background-color: #ffffff;
    margin-right: 16px;
    cursor: pointer;
}
.fa-x-twitter .fa-linkedin-in .fa-facebook-f {
    font-size: 12px;
}
 hr{
     width: 65%;
     margin: 0 auto;
     height: 1px;
    margin-bottom: 30px;
 }
.copy-right-content p {
    text-align: center;
    color: #ffffff;
    line-height: 24px;
    padding-bottom: 30px;
    
}
/* footer end */
