* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.logo img{
    width: 139px;
    height: 60px;
    
}
.btn{
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600px;
}
.btn:hover{
    color: white;
    background-color: #ffc60b;
}
nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1600px;
    height: 92px;
    margin: 0 auto;
    padding: 16px 120px;

}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  line-height: 152%;

}
.menu li{
    gap: 32px;
}
#hero{  
     background-image:
    url('/images/hero-bg.png');
  
   background-repeat: no-repeat;
   display: flex; 
       
     min-height: 80vh;  
     
   position: center ; 
   background-size: cover;
   margin: 0 auto;
    justify-content: center;
    background-position: center;
  
   
} 
   
.hero-content{
    width: 1360px;
    height: 296px; 
    margin: 0 auto; 
    text-align: center;
    gap: 16px;
    padding-top: 107px;
    
}

.hero-text{
    padding: 8px 16px;
    color: #30B868;
   margin: 0 auto;
  font-size: 16px;
   font-weight: 500;
   background-color: white;
  display: inline-flex;
  align-items: center;
  border-radius: 50px;
 
 

}
.hero-text img{
    width: 30px;
    height: 30px;
    
}

.hero-content h1{
    padding-top: 16px;
    width: 770px;
   height: 168; 
   margin: 0 auto;
  font-size: 68px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: white;

}
.hero-content p{
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
   max-width: 720px;
    /* height: 60px; */
    color: white;
    margin: 0 auto;
     text-align: center; 
    padding: 16px;

}
.btn-btn{
    margin-top: 32px;
    padding: 16px;
    background-color: #30B868;
    color: white;
    text-transform: capitalize;
    border: none;
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    gap: 8px;
    border-radius: 10px;

}
.btn-btn img{
    width: 20px;
    height: 20px;
}
.btn-btn-btn{
    margin-left: 16px;
    margin-top: 32px;
    padding: 16px;
    background-color:  transparent;
    color: white;
    text-transform: capitalize;
    border: none;
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid white;

}

#card-note{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 70px;
    text-align: center;
    justify-content: center;
  
}
.card-image{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-image img{
    width: 32px;
    height: 32px;
    margin: 0 auto;
    display: block;
    

}
.card{
    
    background-color: #FFFFFF;
    display: flex;
    
    justify-content: center;
    gap: 16px; 
    
    
 
   
    

} 
  
.card-card{
    width: 322px;
    height: 300px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 24px;
    display: flex;
   
    

}
   .heading-tag{
       color: #001931;
     font-size: 48px;
     font-weight: 700;
     text-align: center;
     line-height: 58px;
     padding-bottom: 16px;
   }
   .para{
    color: #627382;
    font-size: 16px;
    font-family: 400px;
    line-height: 20px;
    padding-bottom: 44px;
   }
   .card-card h3{ 
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    padding-top: 16px;

   }
  .card-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 16px;
  }

#solution{
  
  justify-content: center;
  display: flex;
 margin: 0 auto;
 
  
   
}
.solution-container{
  width: 85%;                                      
  min-width: 1360px;
  
  display: flex;
 margin: 0 auto;
  justify-content: space-between; 
 
 padding: 0 120px 120px 120px;
  
}

.solution-container-one{
width: 85%;
min-width: 569px;


padding-bottom: 84.3px;
padding-left: 232px;

}
.img{
  
  width: 569px;
  height: 723px;
} 
.small-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding-top: 120px;
    color: #30B868;
}
.text{
    padding-top: 16px;
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
    width: 700px;
    height: 116px;
    
}
  
.para-one{
  width: 760px;
  height: 60px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 40px;
  padding-top: 30px;
  text-align: left;
  color: #627382;
  
  

}
.font-love{
  
  padding-top: 40px;
  width: 700px;
  height: 20px;
  gap: 6px;
}
.font-p{
padding-top: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  gap: 6px;
  
  display: flex;
  align-items: flex-start; 

}
.font-p img{
 width: 20px;
 height: 20px;
 margin-right: 6px;
}

